@using BookLibrary.Infrastructure.Data.Models.Enums
@model AddBookFormModel
@{
    ViewData["Title"] = "Add Book";
}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h2 class="heading-margin text-center">Add Book</h2>
            <form method="post">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" placeholder="Enter title here">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" placeholder="Enter description of the book here" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl"></label>
                    <input asp-for="ImageUrl" class="form-control" placeholder="Enter image url of the book cover here">
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div  id="AuthorsContainer">
                    <label asp-for="Authors"></label>
                    @* <input asp-for="Authors" class="form-control" placeholder="Enter authors' names here">*@
                    <a class="btn btn-success" onclick="AddAnotherAuthor()">+</a>
                    @* <span asp-validation-for="Authors" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="Pages"></label>
                    <input asp-for="Pages" class="form-control" type="number" placeholder="Enter number of pages here">
                    <span asp-validation-for="Pages" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Publisher"></label>
                    <input asp-for="Publisher" class="form-control" placeholder="Enter publisher name here">
                    <span asp-validation-for="Publisher" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Genres"></label>
                    <select multiple class="form-control" asp-for="Genres" asp-items="@Html.GetEnumSelectList<GenreType>()">
                    </select>
                    <span asp-validation-for="Genres" class="text-danger"></span>
                </div>
                <input class="btn btn-primary float-right btn-margin" type="submit" value="Save" />
            </form>

            @section Scripts {
            <script>
                var authorIndex = 0;
                function AddAnotherAuthor(){
                     $("#AuthorsContainer").
                append("<div class='form-control'>Name: <input type='text' name='Authors[" + authorIndex + "].Name' /> Image URL: <input type='text' name='Authors[" + authorIndex +"].AuthorImageUrl' /></div>");
            authorIndex++;
                }
            </script>
            }
        </div>
    </div>
</div>