@model IEnumerable<AllBooksViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<h1 class="text-center">Welcome to Book Library</h1>
<div class="row ">
    <div class="col-md-5">
        <div class="card-deck" style="width: 18rem;">
            @foreach (var book in Model)
            {
                <div class="card ">
                    <img class="card-img-top" src="@book.ImageUrl" alt="@book.Title">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                    </div>
                    @* <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        </ul>*@
                    <div class="card-body">
                        @*<a href="#" class="card-link">Edit</a>
                            <a href="#" class="card-link">Delete</a>*@
                        <a asp-controller="Books" asp-action="Details" asp-route-id="@book.Id" class="card-link">Details</a>
                        <a href="#" class="card-link">Add to My Books</a>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
