@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
     <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-2 d-flex">
        <div class="image">
          <img src="~/img/user.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <p class="d-block" style="color:white">@User.Identity?.Name</p>
        </div>
      </div>
}

