@{
    ViewData["Title"] = "Home Page of Area ADMIN";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Admin area</h1>
    <form method = "get">
        <button asp-controller="Book" asp-action="Add" class="btn btn-primary mb-5">Add Book</button>
    </form>
</div>
